{% comment %} //templates/index.html {% endcomment %}
<html>
<head>
<title>Upload Your Interests </title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

       


<div class="container">
        <div class="panel panel-primary">
                <div class="panel-heading">Upload Your Interests as File</div>
                <div class="panel-body">
             
        
        <div class ="form-group">
                <form method="POST" class="post-form" enctype="multipart/form-data">  
                        {% csrf_token %}  
                        {{ form.as_p }}  
                        <button class="btn btn-secondary" type="submit" class="save btn btn-default">Save</button>  
                
                </div> 
      </div>
     </div>
</div>

</body>  
</html>